body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F3714;
    background-color: white;
    box-sizing: border-box;
    font-size: 0.9rem;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    max-width: 90%;
    gap: 2rem;
}

.filler-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}
.filler-img img {
    height: 100%;
    padding: 2rem;
    opacity: 80%;
}

.form-container {
    flex: 1; /* Isi ruang yang tersedia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
#signup-href {
    color: #A6DE21;
}

#signup {
    color: #638B35;
    text-align: center;
    margin: 0 0 1rem;
}
#homelink {
    height: 3rem;
    width: auto;
    margin-bottom: 1rem;
}
#title {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
}
.form-input, #btn-submit {
    background-color: rgb(206,241,123, 0.6);
    padding: 12px;
    margin: 8px 0;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: border 0.3s, box-shadow 0.3s;
}
input:focus {
    outline: none;
    border: 2px solid #CEF17B;
    box-shadow: 0 0 8px rgba(99, 139, 53, 0.5);
}
#btn-submit {
    background-color: #76A74A ;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
#btn-submit:hover {
    background-color: #567B2A;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
#btn-submit:active {
    color: white;
    background-color: #0F3714;
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

