body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.container {
    display: grid;
    place-items: center;
    height: 90%;
}
#homelink {
    height: 3rem;
    width: auto;
    padding-bottom: 2rem;
}
.form-input, #btn-submit {
    background-color: rgba(217, 217, 217, 0.6);
    padding: 12px;
    margin: 12px 0;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent; /* Border awal tetap, tapi transparan */
    transition: border 0.3s, box-shadow 0.3s; /* Animasi halus */
}
input {
    color: white;
}
input:focus {
    outline: none;
    border: 2px solid #CEF17B;
    box-shadow: 0 0 8px rgba(99, 139, 53, 0.5); /* Menambahkan efek glow */
    transition: border 0.3s, box-shadow 0.3s; /* Animasi halus */
}
#btn-submit {
    background-color: #638B35;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
#btn-submit:hover {
    background-color: #76A74A; /* Warna hijau lebih terang */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
    transform: translateY(-3px); /* Tombol sedikit naik */
}
#btn-submit:active {
    background-color: #567B2A; /* Warna hijau lebih gelap */
    transform: translateY(0); /* Tombol kembali ke posisi semula */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bayangan lebih kecil */
}
#title {
    font-size: 2rem;
}
#signup-href {
    color: #0F3714;
}
#title, #ucapan {
    margin: 0;
    text-align: center;
}
#signup {
    color: #638B35;
}

.remember-me-container {
    padding-top: 1rem;
}
.remember-me-inline {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
.remember-me-inline input {
    display: none; /* Hide default checkbox */
}
.checkmark {
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    flex-shrink: 0;
}
.checkmark:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0; /* Mulai dengan tidak terlihat */
    transition: opacity 0.2s ease-in-out;
}

.remember-me-inline input:checked ~ .checkmark:after {
    opacity: 1; /* Tampilkan saat dicentang */
}

