@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    vertical-align: top; /* Pastikan semua konten berada di atas */
    padding: 12px; /* Beri ruang pada konten */
    text-align: left; /* Untuk perataan teks */
    word-wrap: break-word; /* Memastikan kata panjang terpotong */
}
tr {
    height: auto; /* Pastikan tinggi baris otomatis mengikuti konten */
}
th {
    text-align: center;
}

a, button {
    cursor: pointer;
}


/* Transitions */
.popup-bg {
  transition: opacity 0.3s ease-in-out;
}

.popup-form {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-10%);
  opacity: 0;
}

.popup-form.show {
  transform: translateY(0);
  opacity: 1;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

/* Animations */
.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.move-down {
  animation: moveDown 0.3s ease-in-out forwards;
}

.move-up {
  animation: moveUp 0.3s ease-in-out forwards;
}
