@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    vertical-align: top; /* Pastikan semua konten berada di atas */
    padding: 8px; /* Beri ruang pada konten */
    text-align: left; /* Untuk perataan teks */
    word-wrap: break-word; /* Memastikan kata panjang terpotong */
}
tr {
    height: auto; /* Pastikan tinggi baris otomatis mengikuti konten */
}
th {
    text-align: center;
}
