table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    vertical-align: top;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    word-wrap: break-word;
}
tr {
    height: auto;
}
th {
    text-align: center;
}
